
/* HTML document settings | START */
html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

div {
	font: 14px sans-serif;
}

a:hover {
	cursor: pointer;
}

#graph-container {
	width: 100%;
	overflow-y: scroll;
	visibility: hidden;
}

#docs {
	padding: 10px;
}


#docs-close {
    float: right;
	font-size: 1.4em;
	width: 24px;
	height: 24px;
	line-height: 24px;
	right: 8px;
	background: white;
	color: #333;
	text-align: center;
	text-decoration: none;
}

#docs-close:hover {
	background: #ccc;
}
/* HTML document settings | END */

/* D3.js graph settings   | START */
.node rect {
	transition: opacity 250ms;
}

.node:hover {
	cursor: pointer;
}

.node text {
	font: 14px sans-serif;
	pointer-events: none;
}

.node.selected rect {
	filter: url(#blue-glow);
}

.link {
	stroke: #555;
	stroke-width: 1.0px;
	opacity: .7;
	marker-end: url(#end);
}

.link.inactive,
.node.inactive rect,
.node.inactive text marker#end {
	opacity: .2;
}

.node.inactive.selected rect,
.node.inactive.selected text marker#end {
	opacity: .7;
}

.legend .category text {
	font: 14px sans-serif;
	pointer-events: none;
}

marker#end {
	fill: #555;
	stroke: #555;
}
/* D3.js graph settings   | END */


/*!
 * StyleSheet for JQuery splitter Plugin
 * Copyright (C) 2010 Jakub Jankiewicz <http://jcubic.pl>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.splitter_panel {
  position: relative;
}
.splitter_panel .vsplitter {
    background-color: lightgrey;
    cursor: col-resize;
    z-index:900;
    width: 4px;
}

.splitter_panel .hsplitter {
    background-color: #9F9F9F;
    cursor: row-resize;
    z-index: 800;
    height: 4px;
}
.splitter_panel .vsplitter.splitter-invisible,
.splitter_panel .hsplitter.splitter-invisible {
    background: none;
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel,
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
    position: absolute;
    overflow: auto;
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel {
  height: 100%;
}
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
  width: 100%;
}
.splitter_panel .top_panel, .splitter_panel .left_panel, .splitter_panel .vsplitter {
   top: 0;
}
.splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .left_panel, .splitter_panel .hsplitter {
   left: 0;
}
.splitter_panel .bottom_panel {
   bottom: 0;
}
.splitter_panel .right_panel {
   right: 0;
}
.splitterMask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}