<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <title>DGG</title>

    <!-- Inline main.css -->
    <style>
            ##CSS_DATA##

    </style>

</head>
<body>

<!-- Inline https://code.jquery.com/jquery-1.10.2.min.js -->
<script>
            ##JQUERRY_A_LIB##

</script>

<!-- Inline https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js -->
<script>
            ##JQUERRY_B_LIB##

</script>

<!-- Inline https://github.com/jcubic/jquery.splitter/blob/master/js/jquery.splitter.js -->
<script>
            ##JQUERRY_SPLITTER_LIB##

</script>


<div id="split-container">
    <div id="graph">
    </div>
    <div id="docs-container">
        <a id="docs-close" href="#">&times;</a>
        <div id="docs" class="docs"></div>
    </div>
</div>

<script>
    var splitter = $('#split-container').height(window.innerHeight).split({
            orientation: 'vertical',
            limit: 150,
            position: '75%', // if there is no percentage it interpret it as pixels
            onDrag: function(event) {
                 console.log(splitter.position());
        }
    });
</script>


<!-- Inline https://d3js.org/d3.v3.min.js -->
<script>
            ##D3_LIB##

</script>

<!-- Graph data & configuration -->
<script>
            var graph          =    {};
            graph.linkDistance =    80;
            graph.charge       = -1200;
            graph.gravity      =   0.5;
            graph.labelPadding = {
                "left"   : 2,
                "right"  : 2,
                "top"    : 2,
                "bottom" : 2
            };
            graph.margin = {
                "left"     : 20,
                "top"      : 20
            };
            graph.ticksWithoutCollisions =      10;
            graph.maxLineChars           =      20;
            graph.wrapChars    = ' /_-.'.split('');
            graph.docsClosePadding       =       5;
            graph.highlighted            =    null;
            graph.selected               =      {};
            graph.colors = [
                "#efedf5","#dadaeb","#bcbddc","#9e9ac8","#807dba",
                "#deebf7","#c6dbef","#9ecae1","#6baed6","#4292c6",
                "#e5f5e0","#c7e9c0","#a1d99b","#74c476","#41ab5d",
                "#fee6ce","#fdd0a2","#fdae6b","#fd8d3c","#f16913",
                "#fff7bc","#fee391","#fec44f","#fe9929","#ec7014",
                "#fee0d2","#fcbba1","#fc9272","#fb6a4a","#ef3b2c"
            ];
            graph.data = ##GENERATED_DATA## ;

</script>

<!-- Inline geometry.js -->
<script>
            ##GEOMETRY_LIB##

</script>

<!-- Inline main.js -->
<script>
            ##JS_CODE##

</script>
</body>
</html>
